//Functional colors - CHARTING
$midnight-blue: #0b121c;
$main-color: $midnight-blue;
$color-white: #fff;
$color-text: $midnight-blue;
$color-background: #f9f9f9;

//Site main colors
$intense-pink: #FF90E8;
$opaque-yellow: #FFC900;
$serene-purple: #B23386;
$cool-turquoise: #23A094;
$palid-red: #E2442F;

// TINTS
$color-sat-50: #f3f8fe;
$color-sat-100: #dfe6ef;
$color-sat-200: #c9d2df;
$color-sat-300: #b3c0d3;
$color-sat-400: #aeafae;
$color-sat-500: #7b90ae;
$color-sat-600: #5c7495;
$color-sat-700: #425a7c;
$color-sat-800: #2b4362;
$color-sat-900: #1a2e49;
$color-sat-1000: #0d1c30;

$disabled-color: $color-sat-700;
