@import '../variables/colors.scss';

@import '../variables/variables.scss';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $serene-purple;
  border-left: $border-declaration;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $opaque-yellow;
  border: $border-declaration;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}
